# set your packpub.com login credentials
email: 'superuser@example.com'
password: 'supersecretpassword'
booklib: 'lib'
filetype: 'pdf'
cache_session: True
sessionfile: '.session_token'
download_code: False